{% extends 'base.html' %}

{% block nav %}
    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'web:photo_create' %}">Добавить публикацию</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'web:album_create' %}">Создать альбом</a>
    </li>
    {% endif %}
{% endblock nav %}

{% block content %}
{% if user.is_authenticated %}
<div class="card-group">
    {% for photo in photos %}
      <div class="card">
          <a class="pictureindex" href="{% url 'web:photo_detail' photo.pk %}"><img src="{{ photo.photography.url }}" class="card-img-top" alt="Должна быть фотография"></a>
        <div class="card-body">
          <h5 class="card-title">Автор: {{ photo.author }}</h5>
          <p class="card-text">Подпись: {{ photo.signature }}</p>
            {% if photo.album %}
            <p class="card-text">Альбом: <a href="{% url 'web:album_view' photo.album.pk %}">{{ photo.album.name }}</a></p>
            {% endif %}
          <p class="card-text"><small class="text-muted">Дата создания: {{ photo.created_at.date }}</small></p>
        {% if perms.webapp.delete_photo or user in photo.author %}
             <a class="btn btn-secondary" href="{% url 'web:photo_delete' photo.pk %}">Удалить пост</a>
        {% endif %}
        {% if perms.webapp.change_photo or user in photo.author %}
            <a class="btn btn-secondary" href="{% url 'web:photo_update' photo.pk %}">Редактировать</a>
        {% endif %}
        {% if user not in photo.favorites.all %}
            <button id="favoritebtn" onclick="favorite(event)" data-id="{{ photo.id }}" data-photo-url="{% url 'api:favorite' photo.pk %}">В избранное</button>
        {% else %}
            <button id="favoritebtn" onclick="favorite(event)" data-id="{{ photo.id }}" data-photo-url="{% url 'api:favorite' photo.pk %}">Удалить из избранного</button>
        {% endif %}
        </div>
      </div>
    {% endfor %}
</div>
    {% endif %}
{% endblock %}