{% extends 'base.html' %}

{% block content %}
<div class="card mb-3">
  <img src="{{ photo.photography.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Подпись: {{ photo.signature }}</h5>
      {% if photo.album %}
    <p class="card-text">Альбом: {{ photo.album.name }}</p>
      {% endif %}
  <p>Понравилось:</p>
  {% for fav in favorite %}
      <p><a href="{% url 'accounts:profile' fav.id%}">{{ fav }}</a></p>
  {% endfor %}
    <p class="card-text"><small class="text-muted">Дата создания: {{ photo.created_at.date }}</small></p>
  </div>

{% if user in photo.author %}
{% if photo.token %}
    <p>Вот ваша токен ссылка: <a href="{% url 'webapp:photo_token' photo.token %}">http://localhost:8000/photo/{{ photo.token }}</a></p>
    {% else %}
    <a class="btn btn-secondary" href="{% url 'webapp:generate_token' photo.pk %}">Сгенерируйте ссылку</a>
{% endif %}
{% endif %}


</div>

{% endblock %}

